<h2 mat-dialog-title>Información</h2>
<mat-dialog-content>
  <div class="centralized">
    <div class="search" style="margin: 10px; text-align: justify;">
      <h3>1) Espera para recibir una direccion</h3>
      <h3>2) Al llegar una direccion te llevara directo a la mas reciente</h3>
      <h3>3) Puedes presionar el boton "ubicar", para encontrar una direccion anterior, pero el boton solo aparecera cuando llegue una direccion</h3>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="centralized">
  <button class="buttonSearch"  mat-button mat-dialog-close style="width: 50%;" mat-raised-button >Entendido!</button>
</mat-dialog-actions>
