.login-container {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }

  .buttonSearch {
    width: 35%;
    background-color: #29a8e0 !important;
    color: white !important;
  }

  .centralized {
    display: flex;
    justify-content: center;
  }

  h2, h3, button {
    font-family: Quicksand !important;
    font-weight: bold;
    margin-bottom: 5px;
}
  