.login-container {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }

  .buttonSearch {
    width: 150px;
    background-color: #29a8e0 !important;
    color: white !important;
  }
  .search {
    text-align: justify;
  }

  .ajusted {
    margin: 20px; width: 50%; text-align: center;
  }

  .centarWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .imageCentralice {
    width: 40%;
    height: auto;
  }

  .centralized {
    display: flex;
    justify-content: center;
  }

  .justifyAddress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 250px;
    overflow-y: auto;
    padding: 10px;
  }

  h2, h3, button {
    font-family: Quicksand !important;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
  